/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&family=Open+Sans:ital,wght@0,600;0,800;1,600&family=Open Sans&display=swap');

:root {
  padding: 0px;
}

ion-content {
  --background: #F7F7F7;
}

// Fonts

.VLargeNormal{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.VLargeSemibold{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.VLargeBold{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.LargeNormal{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.LargeSemibold{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.LargeBold{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.MediumNormal {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.MediumSemibold {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.SemiMediumSemibold {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.Mediumbold {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.SmallBold {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.SmallSemibold {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}


.SmallNormal{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.VSmallNormal{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
}

.VSmallBold{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.VVSmallNormal{
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: normal;
}

.custom-ripple {
  color: #00A2E1;
}

.ion-activatable{
  position: relative;
  overflow: hidden;
}

.text-capitalize {
  text-transform: capitalize;
}

// Buttons
.primary-button {
  background-color: #00A2E1;
  border-radius: 25px;
  color: white;
  min-width: 200px;
  height: 45px;
}

.outline-button {
  color: #6795AF;
  border: 1px solid #6795AF;
  border-radius: 3px;
}

.grey-button {
  background-color: #E0E8EF;
  color: #80929E;
  border-radius: 3px;
  border: 1px solid #80929E;
}

// Status Chips

.chip {
  border-radius: 20px;
  padding: 0.5rem 0.7rem;
  font-size: 12px;
  font-weight: bold;
}

.signed-chip {
  background-color: #E8F9F2;
  color: #009568;
}

.new-chip {
  background-color: #ECEFFE;
  color: #5677BE
}

.pending-chip {
  background-color: var(--ion-color-lightest-grey);
  color: var(--ion-color-black-heading);
  border-radius: 20px;
  width: 65px;
  padding-block: 0.4rem;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
}

.completed-chip {
  background-color: #CFE9D4;
  color: var(--ion-color-black-heading);
  border-radius: 20px;
  width: 65px;
  padding-block: 0.2rem;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
}

.inprocess-chip {
  background-color: #FBF8F3;
  color: #FFA060;
}

.reviewed-chip {
  background-color: #FDEAFE;
  color: #A07AC3;
}

.approved-chip {
  background-color: #E3F3EE;
  color: #557899;
}

// Alert Customization
ion-alert.custom-alert {
  --backdrop-opacity: 0.7;
}

.custom-alert .alert-button-group {
  padding: 8px;
}

.sc-ion-alert-ios-h {
  --min-width: 300px;
}

button.alert-button.alert-button-confirm {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-white);
}

button.alert-button.alert-button-cancel {
  background-color: var(--ion-color-white);
  color: var(--ion-color-white-contrast);
}

.alert-head.sc-ion-alert-ios {
  text-align: left;
}

.toolbar-container {
  padding: 0px;
}

.alert-message.sc-ion-alert-ios, .alert-input-group.sc-ion-alert-ios {
  text-align: left;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

ion-content::part(scroll) {
  padding-top: var(--ion-safe-area-top, 0);
}

ion-content::part(scroll) {
  padding-left: var(--ion-safe-area-left, 0);
}

.ios .custom-alert button.alert-button {
  border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
}

.ios button.alert-button.alert-button-cancel,.ios button.alert-button.alert-button-confirm {
  border-radius: 5px;
  margin-left: 5px
}

.alert-button.sc-ion-alert-ios {
  min-width: 40%;
}

