.sync-now {
  cursor: pointer;
  position: absolute;
  top: 4.3rem;
  left: 35%;
  z-index: 1000000;
  background-color: white;
  box-shadow: 1px 2px 5px 2px rgba(216, 216, 216, 0.728);
  border-radius: 25px;
  padding: 0.3rem 0.3rem;
  color: var(--ion-color-primary);

  ion-icon {
    font-size: 2.5rem;
    margin-right: 0.2rem
  }

  ion-label {
    margin-right: 0.2rem
  }
}

.activity-detail-wrapper {
  margin-top: 2.8rem;
  color: var(--ion-color-black-text-heading);
  margin: 3rem 2rem;
}

.activity-detail-card {
  background-color: var(--ion-color-white);
  box-shadow: 1px 2px 5px 2px rgba(216, 216, 216, 0.728);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden; 
  position: relative;
}

.activity-detail-upper-card-body {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ion-color-light-grey)
}

.activity-detail-middle-body {
  padding: 0.5rem;
}

.activity-detail-lower-body {
  padding: 0.5rem;
}

.instrument-icon {
  margin-top: 0.2rem;
}

.marker-icon {
  margin-top: 0.5rem
}

.report-icon {
  height: 1.4rem;
}

.completed {
  color:black;
}

.inprogress {
  color: grey;
}

.view-report-wrapper {
  cursor: pointer;
}

